*{
	color: white;
	background-color: #FFDFDC;
}
p{
	text-align: center;
	font-family: 'Audiowide', cursive;
	border-right-width: 12px;
	color: gray;
	font-size: 50px;
	border: solid;
	border-width:5px;
}
#scoreObj{
	margin-right: 100px;
	color: grey;
	font-family: 'Audiowide', cursive;
	font-size: 50px;
	text-align: center;
	margin-top: 650px;

}
#helloText{
	color: grey;
	font-family: 'Audiowide', cursive;
	padding-top: 250px;
}
#timerObj{

	margin-right: 300px;
	font-size: 50px;
	color: grey;
	font-family: 'Audiowide', cursive;
}